{% extends "base.html" %}

{% block content %}
<h2>By Date</h2>
<form method="post" action="{{ url_for('by_date') }}">
    <div class="form-group">
        <label for="date">Select Date:</label>
        <input type="date" class="form-control" name="date" id="date" value="{{ chosen_date }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-info" name="sort" value="asc">Sort Ascending</button>
    <button type="submit" class="btn btn-info" name="sort" value="desc">Sort Descending</button>
</form>

{% if data %}
    <h3 class="mt-4">Avg values for selected date ({{ chosen_date }}):</h3>
    
    <!-- Sorting buttons -->
    <div class="sort-buttons mt-3">
        <form method="get" action="{{ url_for('by_date') }}">
            <input type="hidden" name="date" value="{{ chosen_date }}">

        </form>
    </div>

    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Station</th>
                <th>Date</th>
                <th>Avg</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.Name }}</td>
                    <td>{{ row.Station }}</td>
                    <td>{{ row.Date_str }}</td>
                    <td class="{% if row.Avg < 0.0 %}negative-avg{% endif %}">{{ row.Avg }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
